@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background: white;
}
header {
    font-family: Roboto;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}
#name {
    text-align: center;
}
